
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a78d78;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #291c0e;
}

div {
  color: #6E473B;
}

input, button {
 background-color: #6E473B;
  margin: 5px;
  padding: 8px;
  font-size: 16px;
 border-radius: 12px;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #f5e3cb;
  border-radius:9px;
  border: none;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f5e3cb
}
